

.hero-subtext {
    font-size: 2em;
    text-align: center;
}

.hero {
  height: 100vh;               /* fixed height */
  width: 100vw;
  background-size: cover;      /* fills height, crops width as needed */
  background-position: center center; /* center image so crop is balanced */
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
.hero-overlay h1 {
    margin-top: 0;
}

.hero-overlay {
    text-align: right;
    position: absolute;
    top: 80%;
    right:25%;
    color: #fff;
    margin-right: 5vw;
    font-size: 4em;
}


.gallery-grid {
    position: relative;
    margin: 0 10%;

}

.gallery-grid a {

    width: 30vw;
    position: absolute;
    display: block;
}

.gallery-grid img {
    position: absolute;
    width: 100%;
    height: auto;
   transition: all 1s ease;

}
